.m-bottom-5{
    margin-bottom: 5rem;
}

.m-bottom-10{
    margin-bottom: 10rem;
}

.section{
    &__wrap{    
        position: relative;
    }
    &__title{
        margin:8rem 0 11rem 0;
        padding-bottom: 1rem;
        font-size: 4rem;
        text-align: center;
        border-bottom: 3px solid var(--color-primary);
        color: var(--color-grey-dark-1);

        @media only screen and (min-width: $bp-medium){
            margin:12rem 0;     
        }

        &--white{
            color: white;
        }
    }

    &__para{
        
        position: absolute;
        left:50%;
        bottom: 29%;
        transform: translate(-50%, -50%);
        

        font-size: 1.5rem;
        padding:.4rem;
        border-right: 3px solid var(--color-primary);
        border-left: 3px solid var(--color-primary);

    }
}

.bg--1{
    background-color: #fff;
    color: var(--color-grey-dark-1)
}

.bg--2{
    background-color: #1D2E40;
    color: white;
}


.btn{
    
    &--primary{
        
        padding: 1.5rem 2.5rem;
        margin-right: 2rem;

        background-color: var(--color-primary-light);
        font-size: 1.4rem;
        font-weight: 500;

        outline: none;
        border: none;
        border-radius: 5px;
        color:#fff;

        transition: all .3s linear;

        text-decoration: none;

        &:hover{
            
            background-color: rgb(238, 160, 71);
        }
    }
}

.quote{
    
    font-weight: 100;
    line-height: 1.1;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

    
    @media only screen and (min-width: $bp-large){
        font-size: 5rem;
        text-align: start;
    }

    @media only screen and (min-width: $bp-medium){
        font-size: 4rem;
    }
}

.artist-name{
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: end;

    @media only screen and (min-width: $bp-medium){
        font-size: 3rem;
    }
}

.vignette{
    height: 100%;
    width: 100%;
    background: radial-gradient(  rgba(0, 0, 0, 0.37)10%, rgba(0, 0, 0, 0.842) 90%);
    top:0;
    right:0;
    position: absolute;

    &--extreme{
        background: radial-gradient(  rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    }
}


.contact__icon{
    display: block;
    text-indent: -9999px;
    width: 60%;
    height: 60%;
    
    background-size: cover;
    left:50%;


    &--1{
        position: absolute;
        background-image: url(../images/svg/mailbox.svg);
        width: 40rem;
        height: 40rem;
        opacity: .05;
        right:-11rem;
        top: 30rem;

        @media only screen and (min-width: $bp-large){
            width: 40rem;
            height: 40rem;
            top: 30rem;
            left:80rem;
        }

        @media only screen and (min-width: $bp-largest){
            width: 80rem;
            height: 80rem;
            top: 20rem;
            right:1px;
        }
    }
}

.social{
    &__icons{
        height: 100%;
        width: 100%;

        transition: .4s;
        padding: .5rem;
        fill:var(--color-primary);
    }  
    
}


