.m-bottom-10{
    margin-bottom: 10rem;
}

.section{
    &__wrap{    
        position: relative;
    }
    &__title{
        margin:12rem 0;
        padding-bottom: 1rem;
        font-size: 4rem;
        text-align: center;
        border-bottom: 3px solid var(--color-primary);
        color: var(--color-grey-dark-1);
    }

    &__para{
        color: var(--color-grey-dark-1);
        position: absolute;
        left:50%;
        bottom: 29%;
        transform: translate(-50%, -50%);

        font-size: 1.5rem;
        padding:.4rem;
        border-right: 3px solid var(--color-primary);
        border-left: 3px solid var(--color-primary);

    }
}

.bg--1{
    background-color: #fff;
}

.bg--2{
    background-color: #ecf0f1;
}


.btn{
    
    &--primary{
        
        padding: 1.5rem 2.5rem;
        margin-right: 2rem;

        background-color: var(--color-primary-light);
        font-size: 1.4rem;
        font-weight: 500;

        outline: none;
        border: none;
        border-radius: 5px;
        color:#fff;
    }
}

.quote{
    font-size: 5rem;
    font-weight: 100;
    line-height: 1.1;

    :not(:nth-child(2n)):before{
        content: open-quote;
    }

    :not(:nth-child(2n)):after{
        content: close-quote;
    }
}

.artist-name{
    margin-top: 30px;
    font-size: 3rem;
    text-align: end;
}

.vignette{
    height: 100%;
    width: 100%;
    background: radial-gradient(  rgba(0, 0, 0, 0.37)10%, rgba(0, 0, 0, 0.842) 90%);
    top:0;
    right:0;
    position: absolute;
}


.contact__icon{

    display: block;
    text-indent: -9999px;
    width: 60%;
    height: 60%;
    
    background-size: cover;
    left:50%;


    &--1{
        position: absolute;
        background-image: url(../images/svg/mailbox.svg);
        width: 80rem;
        height: 80rem;
        opacity: .1;
        right:1px;
        top: 20rem;
    }
}


